* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
}

#header, #footer {
  padding: 0px;
  margin: 0px;
  text-align: left;
  background-color: rgb(17, 28, 36);
  color: white;
  width:100%;
  height: 70px;
  float: right;
}

#controlBtn {
  float: right;
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-right: 100px;
  z-index: 10;
}

#header img {
  float: left;
  height: 50px;
  width: auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#snsLogo img {
  width: 30px;
  height: 30px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

#homeBtn {
  font-size: 30px;
  float: left;
  height: 50px;
  padding-top: 20px;
  margin-left: 50px;
  text-align: center;
}

#homeBtn:hover {
  background-color: white;
  color: black;
  text-decoration-color: white;
}

#homeBtn a:link {
  color: white;
  text-decoration: none;
}

#homeBtn a:visited {
  color: inherit;
  text-decoration: none;
}

#background {
  width: 100%;
  background-color: rgb(98, 172, 234);
  z-index: 0;
}

#background video {
  width: 100%;
  height: auto;
}

#background img {
  width: 100%;
  height: auto;
}

#control {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 40px;
}

#control img {
  width: 30px;
  height: 30px;
}
