* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

#footer {
  padding: 0px;
  margin: 0px;
  text-align: left;
  background-color: rgb(17, 28, 36);
  color: white;
  width:100%;
  height: 70px;
  float: right;
}

#controlBtn {
  float: right;
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-right: 100px;
  z-index: 10;
}

#snsLogo img {
  width: 30px;
  height: 30px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

#background {
  width: 100%;
  background-color: rgb(98, 172, 234);
  z-index: 0;
}

#background video {
  width: 100%;
  height: auto;
}

#background img {
  width: 100%;
  height: auto;
}
